.App {
  width: 100%
}

hr {
  width: 80%;
}

.menu_body {
  padding: 10px;
  display:flex;
  flex-direction: column;
  width: 18%;
  max-width: 200px;
  min-width: 180px;
  border: solid gray 1px;
}

.menu_content {
  padding: 5px 0 5px 0;
  display: flex;
  flex-direction: row;
}

.image {
  width: 40%;
  height: 50%;
}

.details {
  width: 60%;
  display: flex;
  flex-direction: column;
}

.details_middle {
  display: flex;
  flex-direction: row;
}

.title {
  width: 80%;
  text-align: left;
}

.value_savings {
  width: 40%;
  color: red;
  text-align: right;
}

.title_tooltip {
  width: 70%;
  text-align: left;
}

.tooltiptext {
  display: none;
  width: 16%;
  max-width: 180px;
  background-color: white;
  color: black;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  position: absolute;
  z-index: 1;
  top: 70px;
  left: 60px;
  margin-left: -60px;
  border: solid 1px black;
}

.tooltiptext::after {
  content: "";
  position: absolute;
  bottom: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: transparent transparent black transparent;
}

.title_tooltip:hover .tooltiptext {
  display: unset;
}

.value {
  width: 40%;
  text-align: right;
}

.ui_current_price {
  width: 50%;
  text-align: left;
}

.ui_quality {
  width: 50%;
  text-align: right;
}

.details_bottom{
  text-decoration: line-through;
}

.text_underline {
  text-decoration: underline;
  padding-bottom: 5px;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
